 Print First 10 natural numbers using while loop

In [4]:
i =1
while i <= 10:
    print(i)
    i = i+1

1
2
3
4
5
6
7
8
9
10

Write a program to print the following number pattern using a loop

In [10]:
for row in range(1,6):
    for j in range(1,row+1):
        print(j, end =' ')
    print(' ')

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

Calculate the sum of all numbers from 1 to a given number

In [13]:
x = int(input('Enter a number; '))
s = sum(range(1,x+1))
print('The sum is {}'.format(s))

Enter a number; 6
The sum is 21

Write a program to print multiplication table of a given number

In [14]:
n = int(input('Enter a number; '))
for i in range(1,13):
    print(n*i)

Enter a number; 3
3
6
9
12
15
18
21
24
27
30
33
36

Print list in reverse order using a loop

In [18]:
list1 =[10,15,20,25,30]
new_list = reversed(list1)
for item in new_list:
    print(item)

30
25
20
15
10

Display numbers from -10 to -1 using for loop

In [19]:
for num in range(-10,0,1):
    print(num)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

Use else block to display a message “Done” after successful execution of for loop

In [20]:
for var1 in range(5):
    print(var1)
else:
    print('Done!')

0
1
2
3
4
Done!

Write a program to display all prime numbers within a range

In [22]:
n = int(input('Enter the start of a range; '))
k = int(input('Enter the stop of a range; '))
print('Prime numbers between {} and {} are;'.format(n,k))
for num in range(n, k + 1):
    # if number is less than or equal to 1, it is not prime
    if num > 1:
        for i in range(2, num):
            # check for factors
            if (num % i) == 0:
                # not a prime number so break inner loop and
                # look for next number
                break
        else:
            print(num)

Enter the start of a range; 4
Enter the stop of a range; 25
Prime numbers between 4 and 25 are;
5
7
11
13
17
19
23

Display Fibonacci series up to 10 terms

In [23]:
prev = 0
next_num = 1

for i in range(10):
    new_num = prev + next_num
    print(new_num)
    prev = next_num
    next_num = new_num

1
2
3
5
8
13
21
34
55
89

Find the factorial of a given number

In [24]:
num = int(input('Enter a number; '))
factorial = 1
if num < 0:
    print("Factorial does not exist for negative numbers")
elif num == 0:
    print("The factorial of 0 is 1")
else:
    
    for i in range(1, num + 1):
        # multiply factorial by current number
        factorial = factorial * i
    print("The factorial of", num, "is", factorial)

Enter a number; 5
The factorial of 5 is 120

 Reverse a given integer number

In [29]:
numb = int(input('Enter an integer; '))
rev_numb =  0
print("Given Number ", numb)
while numb > 0:
    reminder = numb % 10
    rev_numb = (rev_numb * 10) + reminder
    numb = numb // 10
print("Reverse Number ", rev_numb)

Enter an integer; 23456
Given Number  23456
Reverse Number  65432

Use a loop to display elements from a given list present at odd index positions

In [30]:
my_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
# start from index 1 with step 2( means 1, 3, 5, an so on)
for i in my_list[1::2]: 
    print(i, end=" ")

20 40 60 80 100

Calculate the cube of all numbers from 1 to a given number

In [31]:
input_number = int(input('Enter a number -> '))
for i in range(1, input_number + 1):
    print("Current Number is :", i, " and the cube is", (i * i * i))

Enter a number -> 5
Current Number is : 1  and the cube is 1
Current Number is : 2  and the cube is 8
Current Number is : 3  and the cube is 27
Current Number is : 4  and the cube is 64
Current Number is : 5  and the cube is 125